In [1]:
import numpy as np
import pandas as pd

In [2]:
session = pd.read_csv('./data/sessions.csv')

In [13]:
session.head(20)

,user_id,action,action_type,action_detail,device_type,secs_elapsed
0,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,319
1,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,67753
2,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,301
3,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,22141
4,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,435
5,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,7703
6,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,115
7,d1mm9tcy42,personalize,data,wishlist_content_update,Windows Desktop,831
8,d1mm9tcy42,index,view,view_search_results,Windows Desktop,20842
9,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,683
10,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,59274
11,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,95
12,d1mm9tcy42,personalize,data,wishlist_content_update,Windows Desktop,1399
13,d1mm9tcy42,index,view,view_search_results,Windows Desktop,74886
14,d1mm9tcy42,similar_listings,data,similar_listings,Windows Desktop,255
15,d1mm9tcy42,ajax_refresh_subtotal,click,change_trip_characteristics,Windows Desktop,8134
16,d1mm9tcy42,similar_listings,data,similar_listings,Windows Desktop,183
17,d1mm9tcy42,ajax_refresh_subtotal,click,change_trip_characteristics,Windows Desktop,175570
18,d1mm9tcy42,show,NaN,NaN,Windows Desktop,86
19,d1mm9tcy42,personalize,data,wishlist_content_update,Windows Desktop,1535

In [7]:
session.shape

(10567737, 6)

In [27]:
session.action.value_counts()[:30]

show                     2768278
index                     843699
search_results            725226
personalize               706824
search                    536057
ajax_refresh_subtotal     487744
update                    365130
similar_listings          364624
social_connections        339000
reviews                   320591
active                    188036
similar_listings_v2       168788
lookup                    162041
create                    155887
dashboard                 152952
header_userpic            141830
collections               124417
edit                      109083
campaigns                 105028
track_page_view            81117
unavailabilities           78317
qt2                        64651
notifications              59392
confirm_email              58726
requested                  57034
identity                   53631
ajax_check_dates           52517
show_personalize           50434
ask_question               44063
listings                   43656
dtype: int64

In [29]:
session[session['action'] == '10'].head()

          user_id action   action_type action_detail device_type  secs_elapsed
2496   j0mufvhhoh     10  message_post  message_post      iPhone        356000
3356   toga865pvz     10  message_post  message_post      iPhone         38113
6602   uyb283j6j0     10  message_post  message_post      iPhone         42635
9659   d3f3myba0i     10  message_post  message_post      iPhone         16074
26011  15dtb6rdm2     10  message_post  message_post      iPhone        293000

In [30]:
session.secs_elapsed.dtype

dtype('float64')

In [8]:
session.action_type.value_counts()

view                3560902
data                2103770
click               1996183
-unknown-           1031170
submit               623357
message_post          87103
partner_callback      19132
booking_request       18773
modify                 1139
booking_response          4
dtype: int64

In [11]:
session.isnull().sum()

user_id            34496
action             79626
action_type      1126204
action_detail    1126204
device_type            0
secs_elapsed      136031
dtype: int64

In [12]:
session.secs_elapsed.describe()

count    10431706.000000
mean        19405.810751
std         88884.243209
min             0.000000
25%           229.000000
50%          1147.000000
75%          8444.000000
max       1799977.000000
Name: secs_elapsed, dtype: float64

In [16]:
len(session.user_id.unique())

135484

In [17]:
session.columns

Index([u'user_id', u'action', u'action_type', u'action_detail', u'device_type',
       u'secs_elapsed'],
      dtype='object')

In [40]:
#pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])
#user_session = session.pivot(index='user_id', columns=['action','device_type'], values='secs_elapsed')
user_session = pd.pivot_table(session, index='user_id', columns='action_type', values='secs_elapsed', aggfunc=np.sum)

In [41]:
user_session.reset_index().head()

action_type,user_id,-unknown-,booking_request,booking_response,click,data,message_post,modify,partner_callback,submit,view
0,00023iyk9l,NaN,0,NaN,590691,7043,129817,NaN,NaN,NaN,139368
1,0010k6l0om,123033,NaN,NaN,65954,136246,NaN,NaN,NaN,NaN,260196
2,001wyh0pz8,22181,NaN,NaN,158796,1550,NaN,NaN,NaN,50906,44516
3,0028jgx1x1,489,NaN,NaN,199802,8603,NaN,NaN,NaN,NaN,88116
4,002qnbzfs5,738169,70986,NaN,644323,293735,325235,NaN,NaN,1537719,284735

In [42]:
user_session.ix[0,:]

action_type
-unknown-              NaN
booking_request          0
booking_response       NaN
click               590691
data                  7043
message_post        129817
modify                 NaN
partner_callback       NaN
submit                 NaN
view                139368
Name: 00023iyk9l, dtype: float64

In [43]:
user_devices = pd.pivot_table(session, index='user_id', columns='device_type', values='secs_elapsed', aggfunc=np.sum)

In [44]:
user_devices.head()

device_type,-unknown-,Android App Unknown Phone/Tablet,Android Phone,Blackberry,Chromebook,Linux Desktop,Mac Desktop,Opera Phone,Tablet,Windows Desktop,Windows Phone,iPad Tablet,iPhone,iPodtouch
user_id,,,,,,,,,,,,,,
00023iyk9l,NaN,NaN,NaN,NaN,NaN,NaN,295642,NaN,NaN,NaN,NaN,NaN,572254,NaN
0010k6l0om,NaN,NaN,NaN,NaN,NaN,NaN,586543,NaN,NaN,NaN,NaN,NaN,NaN,NaN
001wyh0pz8,NaN,282965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0028jgx1x1,297010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
002qnbzfs5,203511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6283569,NaN

In [63]:
#user_device_type_count = pd.pivot_table(session, index=['user_id','device_type'], values='device_type', aggfunc='count')