In [1]:
import numpy as np
import pandas as pd

In [2]:
session = pd.read_csv('./data/sessions.csv')

In [3]:
session.head(5)

,user_id,action,action_type,action_detail,device_type,secs_elapsed
0,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,319
1,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,67753
2,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,301
3,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,22141
4,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,435

In [4]:
session.shape

(10567737, 6)

In [5]:
session.action.value_counts()[:30]

show                     2768278
index                     843699
search_results            725226
personalize               706824
search                    536057
ajax_refresh_subtotal     487744
update                    365130
similar_listings          364624
social_connections        339000
reviews                   320591
active                    188036
similar_listings_v2       168788
lookup                    162041
create                    155887
dashboard                 152952
header_userpic            141830
collections               124417
edit                      109083
campaigns                 105028
track_page_view            81117
unavailabilities           78317
qt2                        64651
notifications              59392
confirm_email              58726
requested                  57034
identity                   53631
ajax_check_dates           52517
show_personalize           50434
ask_question               44063
listings                   43656
Name: action, dtype: int64

In [6]:
session[session['action'] == '10'].head()

          user_id action   action_type action_detail device_type  secs_elapsed
2496   j0mufvhhoh     10  message_post  message_post      iPhone        356000
3356   toga865pvz     10  message_post  message_post      iPhone         38113
6602   uyb283j6j0     10  message_post  message_post      iPhone         42635
9659   d3f3myba0i     10  message_post  message_post      iPhone         16074
26011  15dtb6rdm2     10  message_post  message_post      iPhone        293000

In [7]:
session.secs_elapsed.dtype

dtype('float64')

In [8]:
session.action_type.value_counts()

view                3560902
data                2103770
click               1996183
-unknown-           1031170
submit               623357
message_post          87103
partner_callback      19132
booking_request       18773
modify                 1139
booking_response          4
Name: action_type, dtype: int64

In [9]:
session.isnull().sum()

user_id            34496
action             79626
action_type      1126204
action_detail    1126204
device_type            0
secs_elapsed      136031
dtype: int64

In [10]:
session.secs_elapsed.describe()

count    10431706.000000
mean        19405.810751
std         88884.243209
min             0.000000
25%           229.000000
50%          1147.000000
75%          8444.000000
max       1799977.000000
Name: secs_elapsed, dtype: float64

In [11]:
len(session.user_id.unique())

135484

In [12]:
session.columns

Index([u'user_id', u'action', u'action_type', u'action_detail', u'device_type',
       u'secs_elapsed'],
      dtype='object')

In [13]:
#pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])
#user_session = session.pivot(index='user_id', columns=['action','device_type'], values='secs_elapsed')
user_session = pd.pivot_table(session, index='user_id', columns='action_type', values='secs_elapsed', aggfunc=np.sum)

In [14]:
user_session.reset_index().head()

action_type,user_id,-unknown-,booking_request,booking_response,click,data,message_post,modify,partner_callback,submit,view
0,00023iyk9l,NaN,0,NaN,590691,7043,129817,NaN,NaN,NaN,139368
1,0010k6l0om,123033,NaN,NaN,65954,136246,NaN,NaN,NaN,NaN,260196
2,001wyh0pz8,22181,NaN,NaN,158796,1550,NaN,NaN,NaN,50906,44516
3,0028jgx1x1,489,NaN,NaN,199802,8603,NaN,NaN,NaN,NaN,88116
4,002qnbzfs5,738169,70986,NaN,644323,293735,325235,NaN,NaN,1537719,284735

In [15]:
user_session.ix[0,:]

action_type
-unknown-              NaN
booking_request          0
booking_response       NaN
click               590691
data                  7043
message_post        129817
modify                 NaN
partner_callback       NaN
submit                 NaN
view                139368
Name: 00023iyk9l, dtype: float64

In [16]:
user_devices = pd.pivot_table(session, index='user_id', columns='device_type', values='secs_elapsed', aggfunc=np.sum)

In [17]:
user_devices.head()

device_type,-unknown-,Android App Unknown Phone/Tablet,Android Phone,Blackberry,Chromebook,Linux Desktop,Mac Desktop,Opera Phone,Tablet,Windows Desktop,Windows Phone,iPad Tablet,iPhone,iPodtouch
user_id,,,,,,,,,,,,,,
00023iyk9l,NaN,NaN,NaN,NaN,NaN,NaN,295642,NaN,NaN,NaN,NaN,NaN,572254,NaN
0010k6l0om,NaN,NaN,NaN,NaN,NaN,NaN,586543,NaN,NaN,NaN,NaN,NaN,NaN,NaN
001wyh0pz8,NaN,282965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0028jgx1x1,297010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
002qnbzfs5,203511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6283569,NaN

In [18]:
#user_device_type_count = pd.pivot_table(session, rows='user_id', columns='device_type', values='device_type', aggfunc='count')

In [19]:
user_device_type_count = session.groupby('user_id')['device_type'].value_counts()

In [20]:
user_device_type_count = user_device_type_count.unstack().reset_index()

In [21]:
user_device_type_count.head()

device_type,user_id,-unknown-,Android App Unknown Phone/Tablet,Android Phone,Blackberry,Chromebook,Linux Desktop,Mac Desktop,Opera Phone,Tablet,Windows Desktop,Windows Phone,iPad Tablet,iPhone,iPodtouch
0,00023iyk9l,NaN,NaN,NaN,NaN,NaN,NaN,36,NaN,NaN,NaN,NaN,NaN,4,NaN
1,0010k6l0om,NaN,NaN,NaN,NaN,NaN,NaN,63,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,001wyh0pz8,NaN,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0028jgx1x1,30,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,002qnbzfs5,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,775,NaN

In [22]:
user_session = user_session.reset_index()
user_devices = user_devices.reset_index()

In [23]:
user_session.shape, user_devices.shape

((135478, 11), (135483, 15))

In [24]:
user_session.columns, user_devices.columns

(Index([u'user_id', u'-unknown-', u'booking_request', u'booking_response',
        u'click', u'data', u'message_post', u'modify', u'partner_callback',
        u'submit', u'view'],
       dtype='object', name=u'action_type'),
 Index([u'user_id', u'-unknown-', u'Android App Unknown Phone/Tablet',
        u'Android Phone', u'Blackberry', u'Chromebook', u'Linux Desktop',
        u'Mac Desktop', u'Opera Phone', u'Tablet', u'Windows Desktop',
        u'Windows Phone', u'iPad Tablet', u'iPhone', u'iPodtouch'],
       dtype='object', name=u'device_type'))

In [25]:
user_session = user_session.fillna(0.)

In [26]:
user_devices = user_devices.fillna(0.)

In [27]:
user_session.head()

action_type,user_id,-unknown-,booking_request,booking_response,click,data,message_post,modify,partner_callback,submit,view
0,00023iyk9l,0,0,0,590691,7043,129817,0,0,0,139368
1,0010k6l0om,123033,0,0,65954,136246,0,0,0,0,260196
2,001wyh0pz8,22181,0,0,158796,1550,0,0,0,50906,44516
3,0028jgx1x1,489,0,0,199802,8603,0,0,0,0,88116
4,002qnbzfs5,738169,70986,0,644323,293735,325235,0,0,1537719,284735

In [28]:
user_devices.head()

device_type,user_id,-unknown-,Android App Unknown Phone/Tablet,Android Phone,Blackberry,Chromebook,Linux Desktop,Mac Desktop,Opera Phone,Tablet,Windows Desktop,Windows Phone,iPad Tablet,iPhone,iPodtouch
0,00023iyk9l,0,0,0,0,0,0,295642,0,0,0,0,0,572254,0
1,0010k6l0om,0,0,0,0,0,0,586543,0,0,0,0,0,0,0
2,001wyh0pz8,0,282965,0,0,0,0,0,0,0,0,0,0,0,0
3,0028jgx1x1,297010,0,0,0,0,0,0,0,0,0,0,0,0,0
4,002qnbzfs5,203511,0,0,0,0,0,0,0,0,0,0,0,6283569,0

In [29]:
user_session.shape[0], len(user_session.user_id.unique()), user_devices.shape[0], len(user_devices.user_id.unique())

(135478, 135478, 135483, 135483)

In [30]:
#user_activities = pd.merge(user_devices, user_session, how='left',left_on=['id'], right_on=['user_id'])

In [31]:
#user_activities.shape

In [32]:
#user_activities = pd.merge(train_users, user_devices, how='left',left_on=['id'], right_on=['user_id'])

In [33]:
#user_activities.shape

In [34]:
#user_activities.columns

In [35]:
#user_activities.isnull().sum()

In [36]:
user_session.to_csv('./data/user_session.csv',index=False)
user_devices.to_csv('./data/user_devices.csv',index=False)